<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Ensure proper MIME types are set
AddType application/javascript .js
AddType text/css .css
AddType font/woff .woff
AddType font/woff2 .woff2
AddType image/svg+xml .svg
AddType application/x-font-ttf .ttf
AddType font/otf .otf
